<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
	<h2>Thank you for placing the order! A customer agent will call you shortly. THANKS! </h2>
</body>
</html>