@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Junk Out</h1>
    <p class="lead">Junk Removal Compnay</p>
    <p><a href="http://www.junkout.ca/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">

</div>