@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:white; " >
   <img src="~/Content/Images/Junk Out.png"  style="margin: auto; width: 60%;"/>
    <p>
        Our greatest asset is the customer! Treat each customer as if they are the only one!
    </p>
    <p><a href="http://www.junkout.ca/" class="btn btn-success btn-lg">Learn more &raquo;</a></p>
</div>

